{% extends "home.html" %}

{% block auth_form %}
    <div class="container">
        <h1 class="page-header">Регистрация</h1>

        <div class="alert-warning">
            {% if form.non_field_errors %}
                {{ form.non_field_errors }}
            {% endif %}
        </div>

        {% if form.errors %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {% for field in form %}
                    {% if field.errors %}
                        <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        <form method="post" action="">
        {% csrf_token %}
            <dl class="register">
                {% for field in form %}
                    <dt>{{ field.label_tag }}</dt>
                    <dd class="clearfix">{{ field }}
                        {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}
                        {% if field.errors %}<div class="myerrors clearfix">{{ field.errors }}</div>{% endif %}
                    </dd>
                {% endfor %}
            </dl>
            <input type="submit" value="Зарегистрироваться"  class="clearfix" />
        </form>
    </div>
{% endblock %}