{% extends "home.html" %}

{% load widget_tweaks %}

{% block auth_form %}
    <div class="container">
        <h1 class="page-header">Регистрация</h1>

        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="alert-warning">
                    {% if form.non_field_errors %}
                        {{ form.non_field_errors }}
                    {% endif %}
                </div>

                {% if form.errors %}
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {% for field in form %}
                            {% if field.errors %}
                                <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

                <form method="post" action="">
                    {% csrf_token %}
                        <div class="form-group">
                            {{ form.username|attr:"class:form-control"|attr:"placeholder:Имя пользователя" }}
                        </div>
                        <div class="form-group">
                            {{ form.email|attr:"class:form-control"|attr:"placeholder:E-mail" }}
                        </div>
                        <div class="form-group">
                            {{ form.password1|attr:"class:form-control"|attr:"placeholder:Пароль" }}
                        </div>
                        <div class="form-group">
                            {{ form.password2|attr:"class:form-control"|attr:"placeholder:Пароль еще раз" }}
                        </div>
                    <button class="btn btn-primary btn-block">Зарегистрироваться</button>
                </form>

            <div class="col-lg-4"></div>
        </div>
    </div>
{% endblock %}