.inner h1.page-header {
    margin-top: 100px;
}

.inner {
    background: url('../img/p4h-bg.jpg') no-repeat center center;
    background-size: cover;
}

.promo {
    margin-top: 260px;
    text-align: center;
    min-height: 530px;
    color: #0092d6;
    text-transform: uppercase;
}

.promo h1 {
    font-size: 50px;
    font-weight: bold;
}

.promo .desc {
    font-size: 20px;
}

footer {
    background: url('../img/bg-footer.jpg');
    min-height: 200px;
    color: white;
}

.feedback {
    background: #eee;
}

.feedback .panel img {
    margin-right: 10px;
}
