.inner h1.page-header {
    margin-top: 100px;
}

.inner {
    background: url('../img/p4h-bg.jpg') no-repeat;
    background-size: contain;
}

.promo {
    margin-top: 160px;
    text-align: center;
    color: #ddd;
    min-height: 230px;
}