{% extends 'base.html' %}

{% block css %}
    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">
{% endblock %}

{% block content %}
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Программист на час</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="http://spark.ru/startup/progernachas/blog">Блог</a></li>
                        <li><a href="{% url 'contacts' %}">Контакты</a></li>
                        <li><a href="{% url 'about' %}">О проекте</a></li>
                        <li><a href="{% url 'auth_login' %}">Войти</a></li>
                        <li><a href="{% url 'registration_register' %}">Зарегистрироваться</a></li>
                    </ul>
                </div>
            </div>
        </div>

    <div class=" inner">
        <div class="container">
            {% block auth_form %}
                <div class="promo">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1">
                            <h1>Программист на час</h1>
                            <div class="desc">Забудь про фриланс</div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Контакты</h1>
                    <div class="email-footer">info@progernachas.ru</div>
                </div>
                <div class="col-lg-3"></div>
                <div class="col-lg-3">
                    <h4 style="text-align: right;font-size: 15px;">Мы в социальных сетях</h4>
                    <a href="http://vk.com/progernachas" target="_blank">
                        <img src="{{ STATIC_URL }}img/vk.png" width="40" class="pull-right" />
                    </a>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}