{% extends 'dashboard.html' %}

{% load widget_tweaks %}

{% block dashboard_content %}
    <h1 class="page-header">Изменить пароль</h1>

    {% if form.non_field_errors %}
        <div class="alert-warning">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    {% if form.errors %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {% for field in form %}
                {% if field.errors %}
                    <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {% if form %}
        <form role="form" method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
                {{ form.oldpassword|attr:"class:form-control"|attr:"placeholder:Старый пароль" }}
            </div>
            <div class="form-group">
                {{ form.password1|attr:"class:form-control"|attr:"placeholder:Новый пароль" }}
            </div>
            <div class="form-group">
                {{ form.password2|attr:"class:form-control"|attr:"placeholder:Новый пароль еще раз" }}
            </div>
            <button class="btn btn-primary">Изменить пароль</button>
        </form>
    {% else %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <span>Пароль изменен</span>
        </div>

    {% endif %}

{% endblock %}