{% extends 'dashboard.html' %}

{% load widget_tweaks %}

{% block dashboard_content %}
    <h1 class="page-header">{{ task.title }}</h1>

    {% if need_more_money %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <span>На вашем счету недостаточно средств. <a href="{% url 'balance' %}">Пополните баланс</a></span>
        </div>
    {% endif %}

    {% if not is_client %}
    <form class="form-inline" method="POST" action="" style="padding-bottom: 40px;">
        {% csrf_token %}
        <div class="form-group">
            {{ task_form.price|attr:"class:form-control"|attr:"placeholder:Стоимость задачи" }}
        </div>
        <div class="form-group">
            {{ task_form.worker|attr:"class:form-control"|attr:"placeholder:Ответственный" }}
        </div>
{#        <div class="form-group">#}
{#            <input type="text" name="price" class="form-control" placeholder="Стоимость задачи" value="{{ task.price|default:"0.0" }}" />#}
{#        </div>#}
        <button class="btn btn-success">Сохранить</button>
    </form>
    {% else %}
        {% if task.price %}
            <div class="" style="padding-bottom: 40px; ">
               <strong>Цена: {{ task.price }} руб. </strong>
            </div>
        {% endif %}
    {% endif %}

    <p>
        {{ task.text }}
    </p>
    {% for comment in comments %}
        <div class="panel
        {% if comment.user == request.user %}
            panel-primary
        {% else %}
            panel-success
        {% endif %}
        {% if not is_client and comment.hidden%}
        panel-clear
        {% endif %}
        ">
            <div class="panel-heading">
                <div class="clearfix">
                    <div class="pull-right">{{ comment.user.username }}</div>
                    <div class="pull-left">{{ comment.timestamp }}</div>
                </div>
            </div>
            <div class="panel-body">
                {{ comment.text }}
            </div>
        </div>

    {% endfor %}

    <form role="form" method="POST" action="">
        {% csrf_token %}
        <div class="form-group">
            <textarea class="form-control" autofocus="" name="comment_text" rows="5"></textarea>
        </div>
        {% if not is_client %}
            <button class="btn btn-default"  name="hidden" value="1">Добавить скрытый комментарий</button>
            <button class="btn btn-primary pull-right">Добавить комментарий</button>
        {% else %}
            <button class="btn btn-primary">Добавить комментарий</button>
            {% if not task.in_work and task.price %}
                <button class="btn btn-success" name="start_work" value="1" type="submit">Начать выполнение</button>
            {% endif %}
        {% endif %}
    </form>

{% endblock %}