{% extends 'home.html' %}

{% block main %}
    <div class="container">
        <h1 class="page-header">Пользовательское соглашение</h1>

        <h3>Предмет Пользовательского Соглашения</h3>
        <p>
            Проект "Программист на час" предлагает вам свои услуги на условиях, являющихся предметом настоящего Пользовательского
            Соглашения (ПС). Соглашение может быть изменено нами без какого-либо специального уведомления, новая редакция
            Соглашения вступает в силу с момента опубликования, если иной срок вступления изменений в силу не определен
            дополнительно при их опубликовании. Действующая редакция ПС всегда находится на странице по адресу:
            http://beta.progernachas.ru/terms/
        </p>

        <h3>Описание услуги</h3>
        <p>
            Проект "Программист на час" предоставляет выполнение услуг, с которыми обращается заказчик. Стоимость каждой
            услуги определяется проектом "Программист на час" индивидуально. При одобрении со стороны заказчика
            стоимости услуги со счета заказчика списывается стоимость услуги. Выполнение услуги начинается только при 100% предоплате.
            Стоимость услуги может сильно варьироваться в зависимости от корректности формулировки задачи,
            поставленной заказчиком.
        </p>

        <h3>Конфиденциальность</h3>
        <p>
            Проект "Программист на час" оставляет за собой право передавать конфиденциальную информацию заказчика третьим лицам, если это
            необходимо для выполнения услуги. Заказчик в свою очередь обязуется обеспечить защиту доступа к конфиденциальным данным
            спустя 24 часа после выполнения услуги. Защита доступа к конфиденциальным данным подразумевает ограничение или
            закрытие доступа для специалистов проекта "Программист на час".
        </p>

        <h3>Финансы</h3>
        <p>
            Расчет по услугам происходит посредством баллов. 1 балл = 1 рублю.
            Пополняя баланс, заказчик покупает баллы. Баллы не могут быть выведены из системы, но могут быть использованы для выполнения
            услуг.
        </p>

        <h3>Ответственность сторон</h3>
        <ul>
            <li>Заказчик берет на себя ответственность за передачу достоверной информации при описании задачи.</li>
            <li>Заказчик берет на себя ответственность за ограничение доступа к конфиденциальной информации после выполнения задачи специалистами
                проекта "Программист на час".</li>
            <li>Проект "Программист на час" оставляет за собой право корректировать сроки в зависимости от сложности или некорректной или неясной
                формулировки задачи.</li>
            <li>Проект "Программист на час" берет на себя ответственность за выполнение услуги в рамках задачи заказчика.</li>
            <li>Проект "Программист на час" оставляет за собой право последнего слова по разрешению споров в рамках принятия задач.</li>
        </ul>
    </div>
{% endblock %}